<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header/site-nav.html" . -}}
        {{- partial "header/site-header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer/site-footer.html" . -}}
        {{- partial "footer/scripts.html" . -}}
    </body>
</html>