{{ define "main" }}
<!-- It is important to note that all _index.md content files will render according to a list template and not according to a single page template. -->
<div class="row g-0">
    <div class="minitron text-left col" style="background:url({{ $.Resources.GetMatch $.Params.header_image | default "https://source.unsplash.com/collection/4332905/1000x400" }}); background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="text-wrap textbox-blue col-xs-10 col-sm-9 col-md-8 col-lg-6 col-xl-4">
            <h1 class="text-uppercase text-light overlay-header">{{ .Title }}</h1>
            <p class="text-light fs-4">{{ .Params.thumbnail }}</p>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6 col-xl-8"></div>
        </div>
      </div>
    </div>
  <div class="w-100"></div>

  <div class="container">
    <div class="row">
      <div class="col-1">
      </div>
        <div class="text-justify col-10">
          {{ with .Content }}
          <article>
            <hr class="bg-danger">
            <div class="d-flex flex-column align-items-center justify-content-evenly">
              {{- . -}}
            </div>
            <hr class="bg-danger">
        </article>
        {{ end }}
        </div>
      <div class="col-1"></div>
    </div>
  </div>

    <!-- Ranges through content/posts/*.md and creates thumbnails with the image paramater in md -->
    <div class="d-flex flex-wrap justify-content-evenly align-items-center">
        {{- range .Pages -}}
        <div class="thumbnail p-5 col-xl-4 col-sm-6 col-xs-12">
            <a class="link-dark" href="{{ .Permalink }}">
                {{- $image_id := .Params.image -}}
                {{- $image := .Resources.GetMatch (printf "%s" ($image_id)) -}}
                {{- with $image -}}
                <img alt="{{ .Name }}" class="img-thumbnail" src="{{ ($image.Fill "200x200 q100 Center").RelPermalink }}">
                {{ end }}
                <div>
                    <h1 class="text-danger" >{{ .Title }}</h1><hr class="w-75 m-1">
                    {{ .Summary }}
                </div>
            </a>
        </div>
        {{ end }}
      </div>

{{ end }}
