{{ define "main" }}

<div class="container">
    <div class="row">
      <div class="col-xs-0 col-md-1 col-xl-2"></div>
      <div class="col-xs-12 col-md-10 col-xl-8">
        <h1 class="text-center">{{ .Title }}</h1>
        <hr class="w-100 bg-danger" />
        <div class="container">
          <div class="row">
            <div class="row-cols-md-auto">
              {{- $image_id := .Params.image -}}
              {{- $image := .Resources.GetMatch (printf "%s" ($image_id)) -}}
              {{- with $image -}}
              <img class="float-md-end img-fluid" alt="{{ .Name }}" class="img-fluid" src="{{ ($image.Fill "200x200 q100 Center").RelPermalink }}">
              {{ end }}
              <p>
                {{ .Content }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-0 col-md-1 col-xl-2"></div>
    </div>
  </div>

{{ end }}
