
body {
    position: relative;
  }

.jumbotron {
    padding: 4rem 2rem;
    background-color: var(--bs-light);
    position: relative;
    background: none;
    min-height: 100vh;
}

.minitron {
    padding: 4rem 2rem;
    background-color: var(--bs-light);
    position: relative;
    background: none;
    min-height: 40vh;
}

.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}

.nav-animate {
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

/* Thumbnail formatting */
.thumbnail {
    clear: both;
}
.thumbnail img {
    float: left;
    width: 20%;
    box-shadow: 0 0 14px rgba(0,0,0,.2);
}
.thumbnail div {
    float:left;
    width: 80%;
    padding-left: 20px
}
.thumbnail h1 {
    margin: 0;
}

.overlay-header {
    letter-spacing: 3px;
    font-weight: bolder;
    text-shadow: 0 0 3px black, 0 0 5px inherit;
    z-index: -1;
}

div.textbox-red {
    /* background-color: #b00000ff; /* This will make the text inside opaque /*
    opacity: 0.6; */
    background: rgb(176, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(176, 0, 0, .5);
}

div.textbox-blue {
    /* background-color: #2326f0ff; /* This will make the text inside opaque /*
    opacity: 0.7; */
    background: rgb(35, 38, 240); /* Fallback for older browsers without RGBA-support */
    background: rgba(35, 38, 240, .5);
}

/* Change navbar selection color */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #198754;
    color: #fff;
}
.nav-pills .nav-link:hover, .nav-pills .show>.nav-link {
    background-color: lightgreen;
    color: #fff;
}

/* make navbar take up entire viewport when expanded */
/* .navbar-nav{
    min-height: 100vh;
} */

/* create gradient colored text */
.gradient-txt {
    background: linear-gradient(black,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/* add text shadow */
.text-shadow {
    text-shadow: 2px 2px #FFFFFF;
  }

/* custom navbar-toggler-icon */
.custom-toggler-white .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler-black .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler-transparent .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='none' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler-black.navbar-toggler {
    /* border-color: green; */
    border: none;
    outline: none;
    color: transparent;
}
.custom-toggler-white.navbar-toggler {
    /* border-color: green; */
    border: none;
    outline: none;
    color: transparent;
}

.fade-in-right {
    opacity: 0;
    transform: translate3d(-50px, 0, 0); /* ADDED - start x position as -50px */
    transition: 0.25s all ease-in-out;
}

.fade-in-right:visible {
    opacity: 1;
    transform: translate3d(0, 0, 0); /* ADDED - move x to 0 on hover */
}
