
<!-- {{- $jquery := resources.GetRemote "https://code.jquery.com/jquery-3.2.1.slim.min.js" -}} -->
{{- $jquery := resources.GetRemote "https://releases.jquery.com/git/jquery-git.js" -}}
{{- $bootstrap := resources.GetRemote "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" -}}
{{- $customjs := resources.Get "js/custom.js" | resources.Minify -}}
{{- $js := slice $jquery $bootstrap $customjs | resources.Concat "js/bundle.js" | resources.Minify -}}

<!-- <script src="{{ $js.RelPermalink }}" defer></script> -->
<script src="{{ $jquery.RelPermalink }}" defer></script>
<script src="{{ $bootstrap.RelPermalink }}" defer></script>
<script src="{{ $customjs.RelPermalink }}" defer></script>
