
<head>

  <title>{{if .IsHome}}{{ $.Site.Title }}{{else}}{{ $.Params.title }}{{end}}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Description meta tag -->
    <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ end }}{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ $.Summary | truncate 150 }}{{ end }}" />

    <!-- Inline CSS -->
    {{- $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
    {{- $global := resources.GetRemote "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" | toCSS $options | fingerprint -}}
    {{- $custom := resources.Get "css/custom.css" | toCSS $options -}}
    {{- $normalize := resources.GetRemote "https://necolas.github.io/normalize.css/8.0.1/normalize.css" | toCSS $options | fingerprint -}}
    {{- $style := slice $global $normalize $custom | resources.Concat "css/bundle-min.css" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

    <!-- Include favicon - put in static/favicons folder - use https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<!-- Optional Google Analytics Template -->
{{- template "_internal/google_analytics.html" . -}}