{{ define "main" }}

<h3 class="text-center">404 Not Found</h3>
<img class="img-fluid mx-auto d-block" src="https://media2.giphy.com/media/m2Q7FEc0bEr4I/giphy.gif" alt="Brent Rambo"/>
<h3 class="text-center">You Are Lost! Good Job!<br><a class="link-dark" href="{{ .Site.BaseURL | relLangURL }}">Go Home</a></h3>


{{ end }}