{{ define "main" }}

<!-- example div with HUGO vars -->
  <!-- <div class="jumbotron jumbotron-image text-center" style="background:url('../images/teams/rangers14u-6a.jpg')">
    <img src="{{ "images/logo.png" | absURL | default site.Title }}">
    <p class="lead">{{ $.Site.Params.description | default "Params.description" }}</p>
    <p>{{ $.Site.Params.tagline | default "Params.tagline" }}</p>
    <a class="btn btn-primary btn-lg" href={{ $.Site.Params.tagline_link | default '#' }} role="button">Learn more</a>
  </div> -->

<!-- equal-width multi-row -->
<div class="row g-0">
    <div class="jumbotron text-left col" style="background:url('https://source.unsplash.com/collection/9978316/800x600'); background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="text-wrap textbox-red col-xs-10 col-sm-9 col-md-8 col-lg-6 col-xl-4">
            <h1 class="text-uppercase text-light overlay-header">Player Evolution</h1>
            <p class="text-light fs-4">Better Athletes, Better Baseball Players</p>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6 col-xl-8"></div>
        </div>
      </div>
      <a class="btn btn-success btn-lg" href='{{ site.BaseURL }}/about.html' role="button">Learn More</a>
    </div>
  <div class="w-100"></div>
    <div class="jumbotron col" style="background:url('https://source.unsplash.com/collection/2524460/800x600'); background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6 col-xl-8"></div>
          <div class="text-wrap textbox-blue col-xs-10 col-sm-9 col-md-8 col-lg-6 col-xl-4">
            <h1 class="text-uppercase text-light overlay-header">Indoor Baseball Training Facility</h1>
            <p class="text-light fs-4">38,000 sq ft. Integrated with Professional Level Technology</p>
          </div>
        </div>
      </div>
      <a class="btn btn-success btn-lg float-end" href='{{ site.BaseURL }}/facility.html' role="button">See the Facility</a>
    </div>
  <div class="w-100"></div>
    <div class="jumbotron col" style="background:url('https://source.unsplash.com/collection/2166890/800x600'); background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="text-wrap textbox-red col-xs-10 col-sm-9 col-md-8 col-lg-6 col-xl-4">
            <h1 class="text-uppercase text-light overlay-header">Replay Rangers</h1>
            <p class="text-light fs-4">Play Travel Baseball</p>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6 col-xl-8"></div>
        </div>
      </div>
      <a class="btn btn-success btn-lg" href='{{ site.BaseURL }}/travel_baseball.html' role="button">See Teams</a>
    </div>
  <div class="w-100"></div>
    <div class="jumbotron col" style="background:url('https://source.unsplash.com/collection/1886097/800x600'); background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6 col-xl-8"></div>
          <div class="text-wrap textbox-blue col-xs-10 col-sm-9 col-md-8 col-lg-6 col-xl-4">
            <h1 class="text-uppercase text-light overlay-header">Batting Cages</h1>
            <p class="text-light fs-4">Pitching Machines</p>
            <p class="text-light fs-4">Practice Cages</p>
            <p class="text-light fs-4">Hittrax</p>
            <p class="text-light fs-4">Blast</p>
          </div>
        </div>
      </div>
      <a class="btn btn-success btn-lg float-end" href='{{ site.BaseURL }}/facility/batting_cages.html' role="button">Book a Reservation</a>
    </div>
  <div class="w-100"></div>
    <div class="jumbotron col" style="background:url('https://source.unsplash.com/collection/9345529/800x600'); background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="text-wrap textbox-red col-xs-10 col-sm-9 col-md-8 col-lg-6 col-xl-4">
            <h1 class="text-uppercase text-light overlay-header">Dedicated Coaches</h1>
            <p class="text-light fs-4">Professional Coaching, Personalized Training Programs</p>
          </div>
          <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6 col-xl-8"></div>
        </div>
      </div>
      <a class="btn btn-success btn-lg" href='{{ site.BaseURL }}/staff.html' role="button">Meet the Coaches</a>
    </div>
  <div class="w-100"></div>
    <div class="jumbotron col" style="background:url('https://source.unsplash.com/collection/4672013/800x600'); background-size: cover;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6 col-xl-8"></div>
          <div class="text-wrap textbox-blue col-xs-10 col-sm-9 col-md-8 col-lg-6 col-xl-4">
            <h1 class="text-uppercase text-light overlay-header">Play at the Next Level</h1>
            <p class="text-light fs-4">Recruiting Resources</p>
          </div>
        </div>
      </div>
      <a class="btn btn-success btn-lg float-end" href='{{ site.BaseURL }}/membership/recruiting.html' role="button">Play College Baseball</a>
    </div>
</div>

{{ end }}
