{{ if .IsHome }}

<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-animate" id="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ site.BaseURL }}><img alt="business logo" src="/images/logos/logo.png" height="50"/></a>
    <button class="navbar-toggler custom-toggler-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation" id="nav-button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-white" id="navbar">
      <ul class="navbar-nav ms-auto nav-pills">
        <a class="nav-link font-weight-bold text-white active" href="./" title="Home" id="home-link">Home</a>
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        <a class="nav-link font-weight-bold text-white {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>

{{ else }}

<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white" aria-label="Third navbar example">
  <div class="container-fluid" height="auto">
    <a class="navbar-brand" href={{ site.BaseURL }}><img alt="business logo" src="/images/logos/logo.png" height="50"></a>
    <button class="navbar-toggler custom-toggler-black" type="button" data-bs-toggle="collapse" data-bs-target="#alt-navbar" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-dark" id="alt-navbar">
      <ul class="navbar-nav ms-auto nav-pills">
        <a class="nav-link font-weight-bold text-dark" href="/" title="Home">Home</a>
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}
        <a class="nav-link font-weight-bold text-dark {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>

{{ end }}